extends layout

block content
	.layout1.vertPager
		#uploader
			form(action="/uploads", method="post", enctype="multipart/form-data")
				div
					input(type="file", name="displayImage")
				div
					input(type="submit")
		#gallery
			div(ng-controller='imgCtrl', ng-init='imageArr= #{JSON.stringify(imageArr)}')
				div(ng-repeat='Img in imageArr')
					div(id='Img.imgId')
						img(ng-src="{{Img.Url}}", ng-click='getThis(Img.imgPath)')
						span
							button.btn.btn-default(type='submit', ng-click='clearThis(Img.imgPath)', title='remove') Remove