extends layout

block content
	.layout1.vertPager
		form(action="/uploads", method="post", enctype="multipart/form-data")
			div
				input(type="file", name="displayImage")
			div
				input(type="submit")
		div(ng-controller='imgCtl')
			each Url in imageUrl
				img(src= Url)
				span
					button.btn.btn-default(type='submit', ng-click='clearThis(Url)', title='remove')