extends layout

block content
	.layout1.vertPager
		form(action="/uploads", method="post", enctype="multipart/form-data")
			div
				input(type="file", name="displayImage")
			div
				input(type="submit")
		each Url in imageUrl
			img(src= Url)
			button.btn.btn-default(type='submit', onclick='clearThis(Url)')